framework/lib/analyzer.jar
framework/lib/build-analyzer-*.jar
framework/lib/build_systems
framework/lib/test_generation/*
!framework/lib/test_generation/bin
framework/test/*.log
project_repos/*
!project_repos/get_repos.sh
major/
work/
.DS_Store
variant_work/
workspaces/*
!workspaces/README.md
runs/*
!runs/README.md
new_bug_variants/*
!new_bug_variants/README.md
benchmark_runs/*
!benchmark_runs/README.md
